[user]
	name = {{ onepasswordRead "op://Private/Me/Internet Details/display name" }}
	email = {{ onepasswordRead "op://Private/Me/Internet Details/agilebits email" }}
[color]
	ui = true
[core]
	excludesfile = ~/.gitignore_global
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	